@model DAL.App.DTO.Genre

<div class="form-group">
    <label asp-for="Type" class="control-label"></label>
    <input asp-for="Type" class="form-control" />
    <span asp-validation-for="Type" class="text-danger"></span>
</div>