@model DAL.App.DTO.Configuration
<div class="form-group">
    <label asp-for="ConfigurationString" class="control-label"></label>
    <input asp-for="ConfigurationString" class="form-control" />
    <span asp-validation-for="ConfigurationString" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="CreationDt" class="control-label"></label>
    <input asp-for="CreationDt" class="form-control" />
    <span asp-validation-for="CreationDt" class="text-danger"></span>
</div>